<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <p style="float-right;">
                <span>Hola, <strong>{{persona}}</strong>!</span>
                <a href="/admin/login/logout" class="btn btn-danger logout-btn">
                    Cerrar Sesión <i class="fas fa-sign-out-alt"></i>
                </a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-7" style="margin: top -9px;">
            <h2>Listado de Novedades</h2>
        </div>
        <div class="col-2 text-right">
            <a href="#" class="btn btn-success"><i class="fas fa-plus"></i>Nuevo</a>
        </div>
    </div>

    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each Novedades}}
                <tr>
                    <th scope="row">{{id}}1</th>
                    <td>{{titulo}}</td>
                    <td class="text-right"><a href="" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></a> <a
                            href="admin/novedades/eliminar/{{id}}" class="btn btn-secondary"><i
                                class="fas fa-trash"></i></a></td>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>